@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p></p>
    <t>Sistema para Controle de Experimentação Animal</t>
    <p>Laboratório de Engenharia de Software.</p>
</div>
