@model IEnumerable<Business.Models.ApplicationUser>

@{
    ViewData["Title"] = "Pesquisadores";
}

<h1>Pesquisadores</h1>
<hr />
<br />
<p supress-by-role-name="Admin">
    <a class="btn btn-info" asp-controller="Pesquisadores" asp-action="Adicionar">Novo Pesquisador</a>
    <hr />
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Nome Completo
            </th>
            <th>
                CPF
            </th>
            <th>
                Cargo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="_Presidente" />
        <partial name="_Pesquisadores" />
    </tbody>
</table>
