@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Um erro ocorreu enquanto processava sua solicitação.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de Desenvolvimento</h3>
<p>
    Mudar para o ambiente de <strong>Desenvolvimento</strong> exibirá informações mais detalhadas sobre o erro ocorrido.
</p>
